USE [BankDB]
GO
/****** Object:  StoredProcedure [dbo].[PerformTransaction]    Script Date: 14/04/2025 16:56:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[PerformTransaction]
    @AccountNumber VARCHAR(20),
    @TransactionType VARCHAR(20),
    @Amount DECIMAL(18,2)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	BEGIN TRANSACTION;

	DECLARE @CurrentBalance DECIMAL(18,2);
    SELECT @CurrentBalance = Balance FROM Accounts WHERE AccountNumber = @AccountNumber;

	IF @TransactionType = 'Withdrawal' AND @CurrentBalance < @Amount
    BEGIN
        ROLLBACK;
        RAISERROR ('Saldo tidak mencukupi untuk penarikan.', 16, 1);
        RETURN;
    END
	
    -- Simpan transaksi
    INSERT INTO Transactions (AccountNumber, TransactionType, Amount)
    VALUES (@AccountNumber, @TransactionType, @Amount);

    -- Update saldo akun
    IF @TransactionType = 'Deposit'
        UPDATE Accounts SET Balance = Balance + @Amount WHERE AccountNumber = @AccountNumber;
    ELSE IF @TransactionType = 'Withdrawal'
        UPDATE Accounts SET Balance = Balance - @Amount WHERE AccountNumber = @AccountNumber;

    COMMIT;
END
